html {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/14/76/11566972a0785e9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%; /* If you remove this height property, the image will take up the whole background */
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 1px #3f3f3f;
  color: red;
  font-size: 36px;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 1px #3f3f3f;
  color: red;
}
/* Good job keeping the element selectors at the top of your code */
.boxes {
  display: flex; /* Good use of flex */
  flex-wrap: wrap;
  max-width: 655px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.question { /* Probably move the questions above the .boxes selector since it comes first in the html */
  width: 600px;
  height: 400px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 4px solid gold;
}
.question-prompt {
  color: gold;
}
.question-number-label {
  color: gold;
  font-weight: bold;
}
.question-image {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.box {
  width: 250px;
  height: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  background-color:red;
  border: 4px solid gold;
  margin-top: 10px;
  cursor: pointer;
  color: gold;
}
.nav {
  margin: 10px auto;
  text-align: center;
}
.nav-btn {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 5px;
  display: inline-block;  /* I dont think this property is doing anything here */
  width: 150px;
  padding: 10px;
}
.box:hover {
  font-weight: bold;
}

/* Good job on the css too!  Great color scheme and playing into the theme */
